<!-- .app-main -->
<main class="app has-fullwidth">
    <div id="Authen" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Authentication</h5>
                </div>
                <div class="modal-body">
                    <form class="mx-3 mb-3" #SinginForm="ngForm" (ngSubmit)="Singin(SinginForm)">
                        <div class="form-group">
                            <h5 class="text-warning">{{error}}</h5>
                            <div class="form-label-group">
                                <input type="email" id="inputUser" [(ngModel)]="Email" name="Email" class="form-control" placeholder="Email" autofocus="true"
                                    required>
                                <label for="inputUser">Email</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="password" id="inputPassword" [(ngModel)]="Password" name="Password" class="form-control" placeholder="Password"
                                    required>
                                <label for="inputPassword">Password</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
                        </div>
                        <div class="text-center pt-3">
                            <button (click)="RecoverPass()" class="btn btn-block btn-light">Forgot Password?</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="RecoverPassword" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Recover Password</h5>
                </div>
                <div class="modal-body">
                    <form class="auth-form auth-form-reflow">
                        <div class="text-center mb-4">
                            <div class="mb-4">
                                <h1 class="h3"> Reset Your Password </h1>
                            </div>
                            <div class="form-group mb-4">
                                <label class="d-block text-left" for="inputUser">Username</label>
                                <input type="text" class="form-control form-control-lg" required="" autofocus="">
                                <p class="text-muted">
                                    <small>We'll send password reset link to your email.</small>
                                </p>
                            </div>
                            <div class="d-block d-md-inline-block mb-2">
                                <button class="btn btn-lg btn-block btn-primary" type="submit">Reset Password</button>
                            </div>
                            <div class="d-block d-md-inline-block">
                                <button (click)="BlackToSingin()" class="btn btn-block btn-light">Return to signin</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="AddTest" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Test</h5>
                </div>
                <div class="modal-body">
                    <form #AddForm="ngForm" (ngSubmit)="AddNewTest(AddForm)">
                        <div class="text-center mb-4">
                            <div class="form-group mb-4">
                                <label class="d-block text-left" for="inputUser">Test Title</label>
                                <input type="text" [(ngModel)]="Title" name="Title" class="form-control form-control-lg" required="true" autofocus="true">
                                <p>{{AddTestError}}</p>
                            </div>
                            <div class="form-group">
                                <textarea id="TestCreate" [(ngModel)]="Script" name="Script" class="form-control" placeholder="Start typing with @" rows="10"></textarea>
                            </div>
                            <div class="d-block d-md-inline-block mb-2">
                                <button class="btn btn-lg btn-block btn-primary" type="submit">Save</button>
                            </div>
                            <div class="d-block d-md-inline-block mb-2">
                                <button class="btn btn-lg btn-block btn-warning" data-toggle="modal" data-target="#AddTest" type="button">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="AddProject" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Project</h5>
                </div>
                <div class="modal-body">
                    <form #AddForm="ngForm" (ngSubmit)="AddNewProject(AddForm)">
                        <div class="text-center mb-4">
                            <div class="form-group mb-4">
                                <label class="d-block text-left" for="inputUser">Project Name</label>
                                <input type="text" [(ngModel)]="projectName" name="projectName" class="form-control form-control-lg" required="true" autofocus="true">
                                <p>{{AddPrjectError}}</p>
                            </div>
                            <div class="d-block d-md-inline-block mb-2">
                                <button class="btn btn-lg btn-block btn-primary" type="submit">Save</button>
                            </div>
                            <div class="d-block d-md-inline-block mb-2">
                                <button class="btn btn-lg btn-block btn-warning" data-toggle="modal" data-target="#AddProject" type="button">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- .wrapper -->
    <div id="AutomateTest">
    </div>
    <div class="empty-state empty-state-fullpage text-back" style="background: #1b1b1b;">
        <!-- .page -->
        <div id="AutomateMain" class="page">
            <!-- .page-inner -->
            <div class="page-inner">
                <!-- floating action -->
                <button type="button" class="btn btn-success btn-floated" (click)="AddItem()">
                    <span class="fa fa-plus"></span>
                </button>
                <!-- /floating action -->
                <!-- .page-section -->
                <div class="page-section">
                    <!-- .card -->
                    <section id="Projects" class="card card-fluid">
                        <!-- .card-body -->
                        <div class="card-body">
                            <!-- .form-group -->
                            <div class="form-group">
                                <!-- .input-group -->
                                <div class="input-group input-group-alt">
                                    <!-- .input-group-prepend -->
                                    <div class="input-group-prepend">
                                        <select id="filterBy" class="custom-select">
                                            <option value='' selected> Filter By </option>
                                            <option value="1"> Product </option>
                                            <option value="2"> Inventory </option>
                                            <option value="3"> Variants </option>
                                            <option value="4"> Prices </option>
                                            <option value="5"> Sales </option>
                                        </select>
                                    </div>
                                    <!-- /.input-group-prepend -->
                                    <!-- .input-group -->
                                    <div class="input-group has-clearable">
                                        <button id="clear-search" type="button" class="close" aria-label="Close">
                                            <span aria-hidden="true">
                                                <i class="fa fa-times-circle"></i>
                                            </span>
                                        </button>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <span class="oi oi-magnifying-glass"></span>
                                            </span>
                                        </div>
                                        <input id="table-search" type="text" class="form-control" placeholder="Search products"> </div>
                                    <!-- /.input-group -->
                                </div>
                                <!-- /.input-group -->
                            </div>
                            <!-- /.form-group -->
                            <!-- .table -->
                            <table id="ProjectTable" class="table">
                                <!-- thead -->
                                <thead>
                                    <tr>
                                        <th colspan="2" style="min-width: 320px;">
                                            <div class="thead-dd dropdown">
                                                <span class="custom-control custom-control-nolabel custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="check-handle">
                                                    <label class="custom-control-label" for="check-handle"></label>
                                                </span>
                                                <div class="thead-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="caret"></span>
                                                </div>
                                                <div class="dropdown-arrow"></div>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" >Select all</a>
                                                    <a class="dropdown-item" >Unselect all</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" >Bulk remove</a>
                                                    <a class="dropdown-item" >Bulk edit</a>
                                                    <a class="dropdown-item" >Separate actions</a>
                                                </div>
                                            </div>
                                        </th>
                                        <th> Pass/All </th>
                                        <th> Status </th>
                                        <th style="width:100px; min-width:100px;"> &nbsp; </th>
                                    </tr>
                                </thead>
                                <!-- /thead -->
                                <tr *ngFor="let item of Projects | async">
                                    <td>
                                        <div class="table-custom-control custom-control custom-checkbox pl-3">
                                            <input type="checkbox" class="custom-control-input" name="selectedRow[]" id="p{{item.key}}" value="{{item.key}}">
                                            <label class="custom-control-label" for="p{{item.key}}"></label>
                                        </div>
                                    </td>
                                    <td>{{item.projectName}}</td>
                                    <td>{{item.proportion}}</td>
                                    <td>{{item.status}}</td>
                                    <td>
                                        <button class="btn btn-sm btn-secondary" (click)="RemoveProject(item.key)">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.card-body -->
                    </section>
                    <!-- /.card -->
                </div>
                <!-- /.page-section -->
            </div>
            <!-- /.page-inner -->
        </div>
        <!-- /.page -->
    </div>
    <!-- /.wrapper -->
</main>
<!-- /.app-main -->